.headercontainer{
       padding: 5px;
       box-shadow:0 0 10px royalblue;
       background-color: darkgrey;
       margin: 20px auto;
       max-width: 800px;
       width: 90%;

}
.container{
         padding: 10px;
         box-shadow:0 0 10px blue;
         background-color: darkgrey;
         margin: 20px auto;
         max-width: 800px;
         width: 90%;
         list-style-type: square;

}

#group{
         text-align: right;
         font-size: larger;
}
img{
        width: 100px;
        max-width: 400px;
        object-fit: cover;
        vertical-align: left;
        appearance: inherit;  
        padding-left: 10px;  
}
.circular-image-container{
        padding: 500px;
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        height: 200px;
        border-radius: 60%;
        border: 5px solid black;
        
    } 
body{
    background-color: lightgray;
}
h2{
        color:black;
        text-decoration: bisque;
        font-style: normal;
        font-size: xx-large;
    }
p{
        color:black;
        font-size: 15px;
        padding-left: 8px;
    }
 
h2{
        text-align: center;
        font-style: oblique;
        font-family: sans-serif;
 }
h3{
        text-align: center;
        font-style: oblique;
        font-family:Arial, Helvetica, sans-serif;
 }
.header content{
      text-align: right;
 }
.schools-list{ 
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 15px;
        justify-items: center;
        flex-wrap: wrap;
 }
.schools-item{
        border: 1px;
        padding: 30px;
        border-radius: 1px;
        text-align: center;
        width: 50px;
        box-shadow: 0 5px 5px rgb(204, 9, 41);
 }
#footer{
         padding: 20px;
         text-align: center;
         font-size: 15px;
         font-style: italic;
         border-top: 1px solid black;
}
    
 
 